# dependencies
node_modules/

# IDE
.idea

# environment variables
.env

# audios
audio/*
audio/manifest/*
!audio/manifest

# uploads
public/uploads/*

# unnecessary
utils/*-file.js
