.container
  width: 100%
  height: 100vh
  overflow: hidden
  position: relative
  display: grid
  grid-template-rows: 1fr 100px

  .main
    position: relative
    display: grid
    grid-template-columns: auto 1fr

    .content
      position: relative
      width: auto
