@import "fonts"
@import "variables"

*
  margin: 0
  padding: 0
  outline: none
  box-sizing: border-box
  font-family: inherit
  user-select: none
  scrollbar-width: none

  *:focus-visible
    outline: 2px solid #d3d3d3
    border-radius: 4px
    outline-offset: 2px

::-webkit-scrollbar
  display: none

::selection
  background-color: $selectionColor

input::selection
  background-color: $inputSelectionColor

body
  font-family: $primaryFont

a
  text-decoration: none

.cursor_pointer
  cursor: pointer

.hide
  display: none !important

.inline
  display: inline

.no_transition
  transition: none !important

.no_focus:focus,
.no_focus:focus-visible
  outline: none
