@import "variables"

.sidePanel
  position: relative
  width: 300px
  height: 100vh
  background-color: $backgroundDark
  padding: .75rem
  z-index: 2
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto 1fr
  overflow: hidden

  &.minimized
    width: 6.5rem

    .section
      .link
        width: 3.5rem !important
        padding: .25rem .5rem
        display: flex
        justify-content: center
        align-items: center

        &:active .icon svg
          transform: scale(.9)

        .icon
          width: 1.75rem
          margin: .25rem 0

      &.librarySection
        .libraryList
          padding: 0
          margin-top: 0

          .listItem
            padding: 0
            margin: .5rem 0

            &:hover,
            &:active
              background-color: transparent

      &.linksSection
        .logo
          .logoLink
            height: 3.5rem
            padding: .4rem

  .section
    padding: .75rem
    display: flex
    flex-direction: column
    background-color: $foregroundDark
    border-radius: 22px
    overflow: hidden

    .link
      position: relative
      display: flex
      align-items: center
      column-gap: .75rem
      min-width: max-content
      padding: .25rem 1rem
      cursor: pointer
      opacity: .8

      &:not(:first-child)
        margin-top: .5rem

      .icon
        width: 1.5rem
        height: 1.5rem

        svg
          width: 100%
          height: auto

      .label
        font-size: .9rem
        line-height: 1
        font-weight: 500
        user-select: none
        color: #efefef

      &:hover,
      &:focus,
      &.active
        opacity: 1

      &.active
        .label
          color: $accentColor

      &:active .label
        transform: scale(.95)

    &.linksSection
      margin-bottom: .75rem

      .logo
        width: 100%

        .logoLink
          display: block
          width: 100%
          height: 3.5rem
          padding: .5rem .75rem

          svg
            height: 100%
            width: auto

    &.librarySection
      .header
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center

        .link
          width: max-content

        .operations
          display: flex
          gap: .5rem

          button
            width: 2.25rem
            height: 2.25rem
            background-color: transparent
            border: 1px solid transparent
            border-radius: 50%
            cursor: pointer
            transition: .15s ease-out
            transition-property: border-color, background-color
            display: flex
            justify-content: center
            align-items: center

            &:hover
              border-color: rgba(255, 255, 255, .3)
              background-color: rgba(255, 255, 255, .05)

            &:active
              transform: scale(.9)

            svg
              width: 1.1rem
              height: 1.1rem

      .libraryList
        overflow: hidden
        margin-top: .5rem
        padding: .25rem

        .listItem
          display: flex
          align-items: center
          gap: .5rem
          padding: .5rem
          border-radius: .75rem
          white-space: nowrap

          &:hover
            background-color: rgba(32, 32, 32, .4)

          &:active
            background-color: rgba(32, 32, 32, .7)

          .image
            border-radius: .5rem
            overflow: hidden
            min-width: 3.5rem
            min-height: 3.5rem
            max-width: 3.5rem
            max-height: 3.5rem
            display: flex
            justify-content: center
            align-items: center
            position: relative

            &::after
              content: ""
              position: absolute
              top: 0
              left: 0
              width: calc(100% - 2px)
              height: calc(100% - 2px)
              border-radius: .5rem
              border: 1px solid rgba(255, 255, 255, .4)
              mix-blend-mode: overlay
              z-index: 1

            img
              width: 100%
              height: auto
              object-fit: contain

          .info
            display: flex
            flex-direction: column
            justify-content: center
            overflow: hidden
            color: #fff

            a
              color: #fff

            .name
              font-size: .9rem
              font-weight: 600
              opacity: .9
              line-height: 1
              width: 100%
              overflow: hidden
              text-overflow: ellipsis

            .creator
              font-size: .8rem
              opacity: .7
              overflow: hidden
              text-overflow: ellipsis

              a:hover
                text-decoration: underline

  .layoutResizer
    position: absolute
    right: calc(.75rem / 2)
    top: 0
    height: 100vh
    width: .75rem
    cursor: col-resize
    transform: translateX(50%)

    &::after
      content: ""
      position: absolute
      top: 0
      right: calc(.75rem / 2 - 1px)
      width: 2px
      height: 100%
      background-color: transparent
      transition: background-color .15s ease-out

    &:hover::after
        background-color: #1c1c1c

    &:active::after
      background-color: $accentColor