@import "variables"

.container
  width: 100%
  margin-bottom: 5rem

  .header
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-bottom: 1rem

    .title
      font-size: 1.2rem
      font-family: $primaryFont
      font-weight: 500
      opacity: .9

    .controls
      display: flex
      align-items: center
      column-gap: .25rem

      .control
        height: 2.5rem
        font-size: .8rem
        color: #b4b4b4
        font-weight: 400
        font-family: $primaryFont
        border: none
        cursor: pointer
        background-color: transparent
        transition: .15s ease-out
        transition-property: opacity, background-color
        display: flex
        justify-content: center
        align-items: center

        &:hover,
        &:focus-visible
          background-color: rgba(255, 255, 255, .1)

        &:active,
        &:focus-visible
          transform: scale(.9)

      button.control
        width: 2.5rem
        background: transparent
        border: 1px solid rgba(255, 255, 255, .4)
        border-radius: 50%

        &.disabled
          opacity: .5
          pointer-events: none

        svg
          width: 1.25rem
          height: 1.25rem

      span.control
        padding: .25rem .5rem 0 .5rem
        border-radius: 8px
        line-height: 1
        text-align: center

  .fading
    position: relative

    &::before,
    &::after
      z-index: 1
      content: ""
      position: absolute
      top: 0
      height: 100%
      width: 50px
      pointer-events: none
      opacity: 0
      transition: opacity .15s ease-out

    &::before
      left: 0
      background-image: linear-gradient(to right, transparentize($foregroundDark, .2), transparentize($foregroundDark, 1))

    &::after
      right: 0
      background-image: linear-gradient(to left, transparentize($foregroundDark, .2), transparentize($foregroundDark, 1))

    &.left::before
      opacity: 1

    &.right::after
      opacity: 1

    .wrapper
      width: 100%
      overflow-y: hidden
      overflow-x: auto
      scrollbar-width: none
      border-radius: 8px

      &::-webkit-scrollbar
        width: 0
        height: 0
        background-color: transparent

      .slides
        position: relative
        display: flex
        gap: 1.5rem
        width: max-content
        padding-right: .75rem

        &.wrap
          flex-wrap: wrap
          max-width: 100%

        .item
          .itemImage
            position: relative
            width: 220px
            height: 220px
            border-radius: 10px
            overflow: hidden
            display: flex
            justify-content: center
            align-items: center
            border: 1px solid #1c1c1c
            box-shadow: 0 0 6px 0 rgba(12, 12, 12, 0.3)

            &:hover
              .overlay
                opacity: 1
                pointer-events: all

                .button
                  backdrop-filter: blur(12px) saturate(1.5)

            img
              width: auto
              height: 100%
              object-fit: cover

            .overlay
              position: absolute
              top: 0
              left: 0
              width: 100%
              height: 100%
              background-color: rgba(25, 25, 25, .35)
              padding: 2rem
              transition: opacity .12s ease-out
              opacity: 0
              cursor: pointer

              .button
                position: absolute
                background-color: rgba(35, 35, 35, .5)
                border: none
                width: 2.5rem
                height: 2.5rem
                border-radius: 50%
                display: flex
                justify-content: center
                align-items: center
                padding: .8rem
                cursor: pointer
                backdrop-filter: blur(0) saturate(1)
                transition: .15s ease-out
                transition-property: backdrop-filter, background-color

                &:hover
                  backdrop-filter: blur(0) saturate(1)
                  background-color: $accentColor
                  transform: scale(1.1)

                  svg *
                    fill: $backgroundDark !important

                &:active
                  transform: scale(1)

                svg
                  width: 100%
                  height: auto
                  opacity: .9

                  svg *
                    transition: fill .15s ease-out

                &.play
                  bottom: 16px
                  left: 16px

                &.options
                  bottom: 16px
                  right: 16px
                  padding: .6rem

          .itemInfo
            margin-top: .25rem
            text-overflow: ellipsis

            a
              color: #fff
              text-decoration: none
              display: inline-block
              width: 100%
              line-height: 1

              &:hover
                text-decoration: underline

            .itemName
              font-family: $primaryFont
              font-size: .9rem
              font-weight: 600
              max-width: 225px
              height: max-content
              max-height: 1.85rem
              overflow: hidden
              opacity: .85
              padding-bottom: 2px

            .itemArtist
              font-family: $primaryFont
              font-size: .9rem
              font-weight: 400
              opacity: .6
              width: max-content