@import "variables"

.container
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background-color: #1c1c1c
  display: flex
  column-gap: 1rem
  z-index: 10
  opacity: 0
  pointer-events: none
  transition: opacity .15s ease-out

  &.fadeIn
    opacity: 1
    pointer-events: all
    transition: opacity .2s ease-out

  .background
    width: 100%
    height: 100%

    &::before
      content: ""
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      backdrop-filter: blur(100px) saturate(1.7)
      z-index: 1

    &::after
      content: ""
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background-color: rgba(14, 14, 14, .3)
      backdrop-filter: blur(50px) saturate(1.7)

  .wrapper
    position: absolute
    width: 100%
    height: 100%
    z-index: 2
    min-height: max-content
    overflow: auto

    .close
      position: fixed
      width: 70px
      height: 70px
      padding: 1rem
      cursor: pointer
      opacity: .7
      display: flex
      justify-content: center
      align-items: center

      span
        display: flex
        justify-content: center
        align-items: center

        svg
          width: 100%
          height: auto

    .innerContainer
      display: grid
      grid-template-columns: 30vw 35vw
      align-items: center
      column-gap: 5rem
      width: 100%
      min-height: 100%
      padding: 4rem calc((100vw - (65vw + 5rem)) / 2)

      .controls
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        .albumCover
          border-radius: 16px
          width: 500px
          height: 500px
          box-shadow: 0 4px 10px 0 rgba(20, 20, 20, .06)
          position: relative
          overflow: hidden

          &::after
            content: ""
            position: absolute
            top: 0
            left: 0
            width: calc(100% - 2px)
            height: calc(100% - 2px)
            border-radius: 16px
            z-index: 1
            border: 1px solid rgba(65, 65, 65, .4)

          &::before
            content: ""
            position: absolute
            left: 50%
            bottom: 0
            transform: translateX(-50%)
            width: 85%
            height: 90%
            box-shadow: 0 20px 25px 0 rgba(20, 20, 20, .08), 0 10px 25px 0 rgba(20, 20, 20, .08)

          img
            border-radius: 1rem
            width: 100%
            height: auto
            object-fit: contain
            z-index: 1
            position: absolute

        .trackInfo
          margin-top: 1rem
          text-align: center

          .trackTitle
            color: #fff
            font-weight: 700
            font-size: 1.5rem
            line-height: 1
            margin-bottom: .5rem

            .explicit
              display: inline-flex
              align-items: center
              margin-left: .5rem

              svg
                width: 1rem
                height: 1rem

          .trackArtistAndAlbum
            color: #ffffff
            opacity: .6
            font-weight: 500
            line-height: 1
            margin-top: 4px

            a
              color: #ffffff

              &:hover
                opacity: .7

        .player
          margin-top: 1.5rem
          width: 500px

          .playerControls
            display: flex
            align-items: center
            justify-content: center
            gap: 1rem
            margin-bottom: .5rem

            button
              width: 22px
              height: 22px
              cursor: pointer
              background: none
              border: none
              opacity: .7
              position: relative

              &:hover,
              &:active
                opacity: 1

              &:active
                transform: scale(.9)

              &.bigger
                width: 28px
                height: 28px

              &.play
                &:active::after
                  transform: translate(-50%, -50%) scale(1.25)
                  opacity: 1

                &::after
                  content: ""
                  position: absolute
                  top: 50%
                  left: 50%
                  transform: translate(-50%, -50%) scale(1)
                  background-image: radial-gradient(rgba(230, 230, 230, .18), rgba(230, 230, 230, .3))
                  width: 28px
                  height: 28px
                  border-radius: 50%
                  opacity: 0
                  pointer-events: none
                  transition: .15s ease-out
                  transition-property: opacity, transform

              &.active
                opacity: 1

                &::after
                  content: ""
                  position: absolute
                  top: 1.25rem
                  left: 50%
                  transform: translateX(-50%)
                  height: 4px
                  width: 4px
                  background-color: #fff
                  border-radius: 2px

          .volumeBar
            margin-top: 1rem

      .lyrics
        height: 100%
        max-height: 700px
        min-height: 600px
        position: relative
        overflow-x: hidden
        overflow-y: scroll
        -webkit-mask-image: linear-gradient(180deg, transparent, #000 80px, #000 50%, transparent)
        mask-image: linear-gradient(180deg, transparent, #000 80px, #000 50%, transparent)

        &.notSynced
          -webkit-mask-image: linear-gradient(180deg, transparent, #000 40px, #000 calc(100% - 40px), transparent)
          mask-image: linear-gradient(180deg, transparent, #000 40px, #000 calc(100% - 40px), transparent)

          .lyricsInner
            padding: 40px 0

            .lyric
              opacity: 1
              padding-bottom: 32px
              pointer-events: none

              &.active
                text-shadow: none

        .noLyrics
          position: absolute
          left: 50%
          top: 50%
          transform: translate(-50%, -50%)
          font-size: .9rem
          font-weight: 400
          color: rgba(255, 255, 255, .6)
          line-height: 1.25

        .lyricsInner
          position: absolute
          width: 100%
          height: max-content
          top: 0
          left: 0
          padding: 200px 14px

          .lyric
            font-family: -apple-system, 'Inter', 'Red Hat Display', sans-serif
            letter-spacing: -1px
            font-size: 2.5rem
            font-weight: 700
            line-height: 1
            color: #fff
            opacity: .4
            cursor: pointer
            transition: opacity .2s ease-out, text-shadow .15s ease-out
            padding-bottom: 66px

            &:hover
              opacity: .8

            &.active
              opacity: 1
              text-shadow: 0 0 10px rgba(255, 255, 255, .3)