$accentColor: #00ff78
$accentContrastColor: #1c1c1c
$purple: #ff2de1
$blue: #2da1ff
$primaryFont: 'Inter', 'Segoe UI', sans-serif
$secondaryFont: 'Inter Tight', 'Segoe UI', sans-serif
$tertiaryFont: 'Red Hat Display', 'Segoe UI', sans-serif
$quaternaryFont: 'DM Sans', 'Segoe UI', sans-serif