$accentColor: #00ff78
$accentColorDark: #00cc5e
$backgroundDark: #111111
$foregroundDark: #171717
$dangerColor: #ff3c3c
$dangerColorLight: #ff5f5f
$dangerColorDark: #f61e1e
$selectionColor: rgba(255, 255, 255, .3)
$inputSelectionColor: rgba(6, 131, 218, .5)
$primaryFont: 'Red Hat Display', 'Segoe UI', sans-serif