$accentColor: #00ff78
$accentContrastColor: #1c1c1c
$purple: #ff2de1
$blue: #2da1ff
$primaryFont: 'Inter'
$secondaryFont: 'Inter Tight'
$tertiaryFont: 'Red Hat Display'
$quaternaryFont: 'DM Sans'